[submodule "plugins/tpm"]
	path = plugins/tpm
    url = https://github.com/tmux-plugins/tpm.git
[submodule "plugins/tmux-sensible"]
	path = plugins/tmux-sensible
    url = https://github.com/tmux-plugins/tmux-sensible.git
[submodule "plugins/tmux-prefix-highlight"]
	path = plugins/tmux-prefix-highlight
    url = https://github.com/tmux-plugins/tmux-prefix-highlight.git
[submodule "plugins/tmux-pain-control"]
	path = plugins/tmux-pain-control
    url = https://github.com/tmux-plugins/tmux-pain-control.git
[submodule "plugins/tmux-resurrect"]
	path = plugins/tmux-resurrect
    url = https://github.com/tmux-plugins/tmux-resurrect.git
[submodule "plugins/tmux-yank"]
	path = plugins/tmux-yank
    url = https://github.com/tmux-plugins/tmux-yank.git
[submodule "plugins/tmux-copycat"]
	path = plugins/tmux-copycat
    url = https://github.com/tmux-plugins/tmux-copycat.git
